.PUPLogo {
	position: relative;
	display: inline-block;
	overflow: hidden;
	border-radius: 50%;
}

.PUPLogo img {
	display: block;
	position: relative;
	z-index: 1;
	border-radius: 50%;
}

.PUPLogo::before {
	content: '';
	position: absolute;
	top: 0;
	left: -75%;
	width: 50%;
	height: 100%;
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.8) 100%);
	transform: skewX(-25deg);
	pointer-events: none;
	mix-blend-mode: screen;
	z-index: 2;
	border-radius: 50%;
}

@media (min-width: 992px) {
    .col-lg-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.PUPLogo:hover::before {
	animation: shine 0.75s;
}

@keyframes shine {
	100% {
		left: 125%;
	}
}



@media (max-width: 576px) {
    .profile-dropdown-menu {
        right: 0 !important;
        left: auto !important;
        width: auto;
        position: fixed;
        top: 60px;
        border-radius: 0;
        z-index: 1050;
    }
}
